@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}
:root {
  /* Typography */
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme Colors - Enforced Light Theme */
  color: #3c3d37;
  background-color: #ffffff;

  /* Custom Variables */
  --primary-color: #3c3d37;
  --hover-color: #181c14;
  --secondary-color: #f4f4f4;
  --text-color: #3c3d37;
  --drawer-width: 240px;
}

/* Links */
a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: var(--hover-color);
}

/* Global Body */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: var(--text-color);
}

/* Buttons */
button {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: var(--hover-color);
  background-color: #e6e6e6;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
